body {
	background: rgb(4, 5, 4);
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.conic {
	position: relative;
	width: 400px;
	height: 400px;
	padding: 2rem;
	border-radius: 50%;
	padding: 0;
}

.conic::before {
	content: "";
	position: absolute;
	z-index: -2;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: #00252e;
	background-image: 
		conic-gradient(
						transparent 15%, 
						rgba(73, 190, 216, 0.8),
						rgb(169, 239, 255),
						rgba(73, 190, 216, 0.8),
						transparent 35%
	);
	animation: rotate 4s linear infinite;
}

.conic::after {
	content: "";
	position: absolute;
	z-index: -1;
	left: 8px;
	top: 8px;
	height: calc(100% - 16px);
	width: calc(100% - 16px);
	background: #000;
	border-radius: 50%;
	opacity: 0.4;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}